flask==3.0.2
flask-wtf==1.2.1
spacy==3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
PyPDF2==3.0.1
python-docx==0.8.11
scikit-learn==1.4.0
werkzeug==3.0.1
python-json-logger==2.0.7
numpy==1.26.4
blis==0.7.11
cython==3.0.8
setuptools==69.0.3
wheel==0.42.0